<!DOCTYPE html>
<html lang="en-US" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta id="_csrf" name="_csrf" th:content="${_csrf.token}"/>
        <meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}"/>
        <title>Team Page</title>
        <style>
            body {
                display: flex;
                justify-content: space-between;
                align-items: flex-start;
                margin: 0;
                padding: 0;
                height: 100vh;
                font-family: Arial, sans-serif;
            }
            .scrollable-container {
                height: 500px;
                overflow-y: auto;
            }


            .sidebar {
                width: 500px;
                height: 100%;
                background-color: #f4f4f4;
                padding: 20px;
            }

            .table {
                border: 1px solid #ccc;
                border-collapse: collapse;
                width: 100%;
                margin-bottom: 20px;
            }

            .table th,
            .table td {
                padding: 10px;
                text-align: left;
                border: 1px solid #ccc;
            }

            .image-container {
                width:100%;
                flex: 1;
            }

            .image {
                max-width: 100%;
                max-height: 100%;
            }

            .card-container {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
            }

            .card {
                border: 1px solid #ccc;
                border-radius: 8px;
                padding: 10px;
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            }

            .card img {
                width: 100%;
                height: auto;
                background-color: #333;
                max-width: 100%;
                border-radius: 2px;
                box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

            }

            .card h2 {
                font-size: 18px;
                margin-bottom: 5px;
            }

            .card p {
                font-size: 14px;
                margin: 5px 0;
            }

            .drop-zone {
                border: 2px solid #ccc;
                border-radius: 8px;
                width: 150px;
                min-height: 100px;
                margin: 5px;
                display: inline-block;
            }
            .drop-container {
                width: 100%;
                display: flex;
                justify-content: center;
            }

            .column {
                height: 850px;
                flex: 1;
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                align-content: center;
            }

            .remove-button{
                z-index: 100;
            }

            .container {
                width:100%;
                position: relative;
            }

            .top-div {
                width: 100%;
                position: absolute;
                top: 0;
                left: 0;
                z-index: 1;
            }

            .bottom-div {
                position: relative;
                z-index: 0;
            }



        </style>
    </head>
    <body>
        <div class="sidebar">
            <h2>Player Search</h2>
            <form id="searchForm">
                <input type="text" id="name" name="name" placeholder="Search by Name">
                    <select id="position" name="position">
                        <option value="">Select Position</option>
                        <option value="GUARD">Guard</option>
                        <option value="FORWARD">Forward</option>
                        <option value="CENTER">Center</option>
                    </select>

                    <label for="starred">Starred:</label>
                    <input type="checkbox" id="starred" name="starred">
                        <button type="submit">Search</button>
                        </form>
                        <select id="sortCriteria">
                            <option value="">Sort By</option>
                            <option value="name">Name</option>
                            <option value="overallScore">Overall Score</option>
                            <option value="isStarred">Star Player</option>
                            <option value="salary">Salary</option>
                        </select>


                        <div style="display:none;" class="card-container">
                            <div th:each="player : ${players}" class="card" draggable="true" ondragstart="drag(event)" th:id="${player.playerId}">
                                <img th:src="${player.Image}" draggable="false" alt="Player Image" >

                                    <div class="card-content">
                                        <h2 th:text="${player.name}"></h2>
                                        <p th:text="'Salary: ' + ${player.salary}"></p>
                                        <p th:text="'Overall Score: ' + ${#numbers.formatDecimal(player.overallScore, 2, 'POINT', 2, 'POINT')}"></p>
                                        <p id="playerPosition" th:attr="data-position=${player.position}" th:text="'Position: ' + ${player.position}"></p>
                                        <form th:action="@{/players/profile/{playerId}(playerId=${player.playerId})}" method="get">
                                            <button type="submit">View Profile</button>
                                        </form>
                                    </div>
                            </div>
                        </div>


                        <div class="scrollable-container">
                            <div id="searchResults" >

                            </div>

                        </div>
                        <div style="margin-top: 20px;">
                            <div id="totalSalary"></div>
                            <div id="starPlayersCount"></div>
                            <div id="guardCount"></div>
                            <div id="centerCount"></div>
                            <div id="forwardCount"></div>
                            <div id="totalPlayers"></div>
                            <button id="saveButton">Save Players</button>
                            <div id="responseMessage"></div>
                        </div>


                        </div>

                        <div>
                            <div class="container"><div class="top-div">
                                    <div class="drop-container">
                                        <div class="column">
                                            <div id="droppedZone1" class="drop-zone" ondrop="drop(event, 'droppedZone1')" ondragover="allowDrop(event)">
                                                <button class="remove-button" onclick="removePlayer(this)" style="display:none;">Remove</button>
                                            </div>
                                            <div id="droppedZone2" class="drop-zone" ondrop="drop(event, 'droppedZone2')" ondragover="allowDrop(event)">
                                                <button class="remove-button" onclick="removePlayer(this)" style="display:none;">Remove</button>
                                            </div>
                                            <div id="droppedZone3" class="drop-zone" ondrop="drop(event, 'droppedZone3')" ondragover="allowDrop(event)">
                                                <button class="remove-button" onclick="removePlayer(this)" style="display:none;">Remove</button>
                                            </div>
                                            <div id="droppedZone4" class="drop-zone" ondrop="drop(event, 'droppedZone4')" ondragover="allowDrop(event)">
                                                <button class="remove-button" onclick="removePlayer(this)" style="display:none;">Remove</button>
                                            </div>
                                            <div id="droppedZone5" class="drop-zone" ondrop="drop(event, 'droppedZone5')" ondragover="allowDrop(event)">
                                                <button class="remove-button" onclick="removePlayer(this)" style="display:none;">Remove</button>
                                            </div>
                                            <div id="droppedZone6" class="drop-zone" ondrop="drop(event, 'droppedZone6')" ondragover="allowDrop(event)">
                                                <button class="remove-button" onclick="removePlayer(this)" style="display:none;">Remove</button>
                                            </div>
                                        </div>
                                        <div class="column">
                                            <div id="droppedZone7" class="drop-zone" ondrop="drop(event, 'droppedZone7')" ondragover="allowDrop(event)">
                                                <button class="remove-button" onclick="removePlayer(this)" style="display:none;">Remove</button>
                                            </div>
                                            <div id="droppedZone8" class="drop-zone" ondrop="drop(event, 'droppedZone8')" ondragover="allowDrop(event)">
                                                <button class="remove-button" onclick="removePlayer(this)" style="display:none;">Remove</button>
                                            </div>
                                            <div id="droppedZone9" class="drop-zone" ondrop="drop(event, 'droppedZone9')" ondragover="allowDrop(event)">
                                                <button class="remove-button" onclick="removePlayer(this)" style="display:none;">Remove</button>
                                            </div>
                                        </div>
                                        <div class="column">
                                            <div id="droppedZone10" class="drop-zone" ondrop="drop(event, 'droppedZone10')" ondragover="allowDrop(event)">
                                                <button class="remove-button" onclick="removePlayer(this)" style="display:none;">Remove</button>
                                            </div>
                                            <div id="droppedZone11" class="drop-zone" ondrop="drop(event, 'droppedZone11')" ondragover="allowDrop(event)">
                                                <button class="remove-button" onclick="removePlayer(this)" style="display:none;">Remove</button>
                                            </div>
                                            <div id="droppedZone12" class="drop-zone" ondrop="drop(event, 'droppedZone12')" ondragover="allowDrop(event)">
                                                <button class="remove-button" onclick="removePlayer(this)" style="display:none;">Remove</button>
                                            </div>
                                            <div id="droppedZone13" class="drop-zone" ondrop="drop(event, 'droppedZone13')" ondragover="allowDrop(event)">
                                                <button class="remove-button" onclick="removePlayer(this)" style="display:none;">Remove</button>
                                            </div>
                                            <div id="droppedZone14" class="drop-zone" ondrop="drop(event, 'droppedZone14')" ondragover="allowDrop(event)">
                                                <button class="remove-button" onclick="removePlayer(this)" style="display:none;">Remove</button>
                                            </div>
                                            <div id="droppedZone15" class="drop-zone" ondrop="drop(event, 'droppedZone15')" ondragover="allowDrop(event)">
                                                <button class="remove-button" onclick="removePlayer(this)" style="display:none;">Remove</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="image-container bottom-div">

                                    <img class="image" src="https://static.vecteezy.com/system/resources/previews/001/346/644/large_2x/top-down-view-of-basketball-court-free-vector.jpg" alt="Basketball Court">
                                </div>
                            </div>
                        </div>
                        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
                        <script>
                                                    var droppedPlayers = [];
                                                    // Function to load search results
                                                    function loadSearchResults(formData) {
                                                        $.ajax({
                                                            type: 'GET',
                                                            url: '/team',
                                                            data: formData,
                                                            success: function (response) {
                                                                $('#searchResults').empty();
                                                                var table = $('<div>').addClass('card-container');
                                                                $('#searchResults').append(table);
                                                                $(response).find('.card').each(function () {
                                                                    // Check if the card's ID is not in the dropped players array
                                                                    if (!droppedPlayers.includes($(this).attr('id'))) {
                                                                        table.append($(this));
                                                                    }
                                                                });
                                                            },
                                                            error: function (xhr, status, error) {
                                                                console.error(xhr.responseText);
                                                            }
                                                        });
                                                    }

                                                    $(document).ready(function () {

                                                        // Trigger form submission on page load
                                                        loadSearchResults('');
                                                        loadSavedPositions();


                                                        // Intercept form submission and load search results via AJAX
                                                        $('#searchForm').on('submit', function (event) {
                                                            event.preventDefault(); // Prevent default form submission behavior
                                                            var formData = $(this).serialize();
                                                            loadSearchResults(formData);
                                                        });

                                                    });

                                                    function drag(ev) {
                                                        // Set the dragged card's id as data
                                                        ev.dataTransfer.setData("cardId", ev.target.id);
                                                    }

                                                    function allowDrop(ev) {
                                                        ev.preventDefault();
                                                    }

                                                    function drop(ev, dropZoneId) {
                                                        ev.preventDefault();

                                                        var cardId = ev.dataTransfer.getData("cardId");
                                                        var card = document.getElementById(cardId);
                                                        var playerPosition = card.querySelector("#playerPosition").getAttribute("data-position");
                                                        var validPositions = {
                                                            "droppedZone1": ["GUARD", "GUARD-FORWARD", "FORWARD-GUARD"],
                                                            "droppedZone2": ["GUARD", "GUARD-FORWARD", "FORWARD-GUARD"],
                                                            "droppedZone3": ["GUARD", "GUARD-FORWARD", "FORWARD-GUARD"],
                                                            "droppedZone4": ["GUARD", "GUARD-FORWARD", "FORWARD-GUARD"],
                                                            "droppedZone5": ["GUARD", "GUARD-FORWARD", "FORWARD-GUARD"],
                                                            "droppedZone6": ["GUARD", "GUARD-FORWARD", "FORWARD-GUARD"],
                                                            "droppedZone7": ["CENTER", "FORWARD-CENTER", "CENTER-FORWARD"],
                                                            "droppedZone8": ["CENTER", "FORWARD-CENTER", "CENTER-FORWARD"],
                                                            "droppedZone9": ["CENTER", "FORWARD-CENTER", "CENTER-FORWARD"],
                                                            "droppedZone10": ["FORWARD", "FORWARD-GUARD", "GUARD-FORWARD", "FORWARD-CENTER", "CENTER-FORWARD"],
                                                            "droppedZone11": ["FORWARD", "FORWARD-GUARD", "GUARD-FORWARD", "FORWARD-CENTER", "CENTER-FORWARD"],
                                                            "droppedZone12": ["FORWARD", "FORWARD-GUARD", "GUARD-FORWARD", "FORWARD-CENTER", "CENTER-FORWARD"],
                                                            "droppedZone13": ["FORWARD", "FORWARD-GUARD", "GUARD-FORWARD", "FORWARD-CENTER", "CENTER-FORWARD"],
                                                            "droppedZone14": ["FORWARD", "FORWARD-GUARD", "GUARD-FORWARD", "FORWARD-CENTER", "CENTER-FORWARD"],
                                                            "droppedZone15": ["FORWARD", "FORWARD-GUARD", "GUARD-FORWARD", "FORWARD-CENTER", "CENTER-FORWARD"]
                                                        };

                                                        // Check if the dropped position is valid for the drop zone
                                                        if (validPositions[dropZoneId].includes(playerPosition)) {
                                                            var dropZone = document.getElementById(dropZoneId);
                                                            if (dropZone.childElementCount === 1) {
                                                                // Append the dragged card to the drop zone
                                                                dropZone.appendChild(card);
                                                                var removeButton = dropZone.querySelector('.remove-button');
                                                                card.removeAttribute("draggable");
                                                                // Make sure removeButton is not null before attempting to access its style
                                                                if (removeButton) {
                                                                    removeButton.style.display = 'block';
                                                                }

                                                                droppedPlayers.push(cardId);
                                                                updateServerWithPosition(cardId, dropZoneId);
                                                                loadSearchResults($('#searchForm').serialize());
                                                                sumPlayerSalaries();
                                                                updatePlayerCounts();


                                                            } else {
                                                                // Show pop-up toast indicating that the box is already filled
                                                                alert("This position already contains a player. Remove him before adding a new one.");

                                                            }
                                                        } else {
                                                            // Show pop-up indicating that the position is not valid for this drop zone
                                                            alert("Invalid position for the player.");
                                                        }
                                                    }



                                                    function updateServerWithPosition(playerId, dropZoneId) {
                                                        var token = $('#_csrf').attr('content');
                                                        var header = $('#_csrf_header').attr('content');
                                                        var droppedId = dropZoneId.split("Zone")[1];
                                                        $.ajax({
                                                            type: 'POST',
                                                            url: '/players/api/update-position',
                                                            contentType: 'application/json',
                                                            data: JSON.stringify({playerId: playerId, dropZoneId: droppedId}),
                                                            beforeSend: function (xhr) {
                                                                xhr.setRequestHeader(header, token);
                                                            },
                                                            success: function (response) {
                                                                console.log('Player position updated successfully.');
                                                            },
                                                            error: function (xhr, status, error) {
                                                                console.error('Error updating player position:', xhr.responseText);
                                                            }
                                                        });
                                                    }


                                                    function removePlayer(button) {
                                                        var dropZone = button.parentNode;
                                                        var card = dropZone.querySelector('.card');
                                                        if (card) {
                                                            card.remove();
                                                            card.setAttribute("draggable", "true");
                                                            // Remove dropped player ID from the array
                                                            var index = droppedPlayers.indexOf(card.id);
                                                            if (index !== -1) {
                                                                droppedPlayers.splice(index, 1);
                                                            }
                                                            updateServerWithPosition(card.id, '0');

                                                        }
                                                        loadSearchResults($('#searchForm').serialize());
                                                        sumPlayerSalaries();
                                                        updatePlayerCounts();
                                                        button.style.display = 'none';

                                                    }
                                                    $('#sortCriteria').on('change', function () {
                                                        var sortCriteria = $(this).val();
                                                        if (sortCriteria) {
                                                            var formData = $('#searchForm').serialize() + '&sort=' + sortCriteria;
                                                            loadSearchResults(formData);
                                                        }
                                                    });

                                                    $('#searchForm').on('input', function () {
                                                        var formData = $(this).serialize();
                                                        loadSearchResults(formData);
                                                    });

                                                    function loadSavedPositions() {
                                                        $.ajax({
                                                            type: 'GET',
                                                            url: '/players/api/saved-positions', // Endpoint to retrieve saved positions
                                                            success: function (response) {
                                                                // Iterate through the saved positions and place players in corresponding drop zones
                                                                response.forEach(function (position) {
                                                                    var cardId = position.playerId.toString();
                                                                    var dropZoneId = 'droppedZone' + position.dropZoneId;
                                                                    var card = document.getElementById(cardId);
                                                                    var dropZone = document.getElementById(dropZoneId);

                                                                    if (card && dropZone) {
                                                                        dropZone.appendChild(card);
                                                                        var removeButton = dropZone.querySelector('.remove-button');
                                                                        card.removeAttribute("draggable");
                                                                        if (removeButton) {
                                                                            removeButton.style.display = 'block';
                                                                        }
                                                                        droppedPlayers.push(cardId);
                                                                        var formData = $(this).serialize();
                                                                        loadSearchResults(formData);
                                                                        sumPlayerSalaries();
                                                                        updatePlayerCounts();
                                                                    }

                                                                });
                                                            },
                                                            error: function (xhr, status, error) {
                                                                console.error('Error loading saved positions:', xhr.responseText);
                                                            }
                                                        });
                                                    }


                                                    $("#saveButton").click(function () {
                                                        var playersData = generatePlayersData();
                                                        var token = $('#_csrf').attr('content');
                                                        var header = $('#_csrf_header').attr('content');

                                                        $.ajax({
                                                            url: "/team/save",
                                                            type: "POST",
                                                            contentType: "application/json",
                                                            data: JSON.stringify(playersData),
                                                            beforeSend: function (xhr) {
                                                                xhr.setRequestHeader(header, token);
                                                            },

                                                            success: function (response) {
                                                                // Check if response is successful
                                                                if (response.includes("successfully")) {
                                                                    $("#responseMessage").text(response);
                                                                } else {
                                                                    $("#responseMessage").text(""); // Clear previous error messages
                                                                }
                                                            },
                                                            error: function (xhr, textStatus, errorThrown) {
                                                                // Display error message if request fails
                                                                $("#responseMessage").text(xhr.responseText);
                                                            }
                                                        });
                                                    });


                                                    function generatePlayersData() {
                                                        var playersData = [];

                                                        // Iterate through each drop zone
                                                        for (var i = 1; i <= 15; i++) {
                                                            var dropZoneId = 'droppedZone' + i;
                                                            var dropZone = document.getElementById(dropZoneId);

                                                            // Iterate through cards within the drop zone
                                                            var cards = dropZone.querySelectorAll('.card');

                                                            if (cards.length === 0) {
                                                                playersData.push(0); // Push 0 if the zone is empty
                                                            } else {
                                                                cards.forEach(function (card) {
                                                                    var playerId = card.id; // Assuming player IDs are unique and can be directly used
                                                                    playersData.push(playerId);
                                                                });
                                                            }
                                                        }

                                                        return playersData;
                                                    }
                                                    function sumPlayerSalaries() {
                                                        var totalSalary = 0;

                                                        // Iterate through each dropped player
                                                        droppedPlayers.forEach(function (playerId) {
                                                            var card = document.getElementById(playerId);
                                                            if (card) {
                                                                // Extract salary from the card
                                                                var salaryString = card.querySelector('.card-content p:nth-child(2)').textContent.trim();
                                                                var salary = parseFloat(salaryString.replace('Salary: ', '').replace('$', '').replace(',', ''));
                                                                // Add salary to total
                                                                totalSalary += salary;
                                                            }
                                                        });

                                                        // Display the total salary
                                                        $('#totalSalary').text('Total Salary: $' + totalSalary.toFixed(2));

                                                        return totalSalary;
                                                    }

                                                    function countStarPlayers() {
                                                        var starPlayers = 0;

                                                        // Iterate through each dropped player
                                                        droppedPlayers.forEach(function (playerId) {
                                                            var card = document.getElementById(playerId);
                                                            if (card) {
                                                                var salaryString = card.querySelector('.card-content p:nth-child(2)').textContent.trim(); // Assuming salary is always the second <p> element
                                                                var salary = parseFloat(salaryString.replace('Salary: ', '').replace('$', '').replace(',', '')); // Assuming salary is in USD format
                                                                if (salary >= 3000) { // Assuming players with salary greater than 3000 are starred
                                                                    starPlayers++;
                                                                }
                                                            }
                                                        });

                                                        return starPlayers;
                                                    }


                                                    function countPlayersByPosition(position) {
                                                        var playersData = generatePlayersData();
                                                        var players = 0;
                                                        var startIndex, endIndex;

                                                        // Determine the start and end indexes based on position
                                                        if (position === 'GUARD') {
                                                            // Count players based on their index range
                                                            for (var i = 0; i < 6; i++) {
                                                                if (playersData[i] !== 0) {
                                                                    players++;
                                                                }
                                                            }
                                                        } else if (position === 'CENTER') {
                                                            // Count players based on their index range
                                                            for (var i = 6; i < 9; i++) {
                                                                if (playersData[i] !== 0) {
                                                                    players++;
                                                                }
                                                            }
                                                        } else if (position === 'FORWARD') {
                                                            // Count players based on their index range
                                                            for (var i = 9; i < 15; i++) {
                                                                if (playersData[i] !== 0) {
                                                                    players++;
                                                                }
                                                            }
                                                        } else {
                                                            return 0;
                                                        }



                                                        return players;
                                                    }



                                                    function updatePlayerCounts() {

                                                        var starPlayersCount = countStarPlayers();
                                                        var guardCount = countPlayersByPosition('GUARD');
                                                        var centerCount = countPlayersByPosition('CENTER');
                                                        var forwardCount = countPlayersByPosition('FORWARD');
                                                        var totalPlayers = guardCount + centerCount + forwardCount;
                                                        // Display the counts wherever you want in your HTML
                                                        $('#starPlayersCount').text('Star Players: ' + starPlayersCount);
                                                        $('#guardCount').text('Guards: ' + guardCount);
                                                        $('#centerCount').text('Centers: ' + centerCount);
                                                        $('#forwardCount').text('Forwards: ' + forwardCount);
                                                        $('#totalPlayers').text('Total: ' + totalPlayers);
                                                    }





                        </script>

                        </body>
                        </html>